.box-icon-1 {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DCFAF8;
    color: #16DBCC;
}

.box-icon-2 {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFE0EB;
    color: #FF82AC;
}

.box-icon-3 {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF5D9;
    color: #FFBB38;
}

.edit-icon-1 {
    background-color: #FFBB38;
    color: white;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-icon-2 {
    background-color: #FF82AC;
    color: white;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-sumbit {
    background-color: #2D60FF !important;
    color: white !important;
    height: 50px !important;
}